button {
    border: 2px solid currentColor;
    border-radius: 10px;
    color: rgb(59, 8, 8);
    font-family: roboto;
    font-size: 18px;
    padding: 3px 10px;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    margin-left: 8%;
    background-color: rgb(255, 251, 251);
  }

input{

    border-style: inset;
    padding: 5px;
    color: rgb(77, 0, 0);
    font-size: 16px;
    font-family: roboto;    
}


.comment-form{
    padding: 10px;
    padding-bottom: 10px;
    color: rgb(77, 0, 0);
    font-size: 16px;
    font-family: roboto;
    padding-right: 5%;


}

.comment-input{
    margin-left: 3%;
}

form.button{
    margin-left:3%;
}



h1{
    column-span: all;
    text-shadow: 2px 2px #00000077;
    font-family: sans-serif, Verdana;
    
  
  
  }
  
  h2{
    column-span: all;
    font-family: sans-serif, Verdana;
    /* text-shadow: 2px 2px #ffffff77; */
    font-size: 5px;
  
    
  
  }
  
  h3{
    column-span: all;
    font-family: sans-serif, Verdana;
    /* text-shadow: 2px 2px #ffffff77; */
    font-style: italic;
    font-size: 12px;
  
  
  
  }
  h4{
    column-span: all;
    font-family: sans-serif, Verdana;
    
  
    /* text-shadow: 2px 2px #ffffff77; */
  
  
  }

  .card_body{
      text-align: center;
  }