button {
    border: 2px solid currentColor;
    border-radius: 10px;
    color: rgb(59, 8, 8);
    font-family: roboto;
    font-size: 18px;
    padding: 3px 10px;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    margin-left: 8%;
    background-color: rgb(255, 251, 251);
  }

input{

    border-style: inset;
    padding: 5px;
    color: rgb(77, 0, 0);
    font-size: 16px;
    font-family: roboto;    
}


.comment-form{
    padding: 10px;
    padding-bottom: 10px;
    color: rgb(77, 0, 0);
    font-size: 16px;
    font-family: roboto;
    padding-right: 5%;


}

.comment-input{
    margin-left: 3%;
}

form.button{
    margin-left:3%;
}



h1{
    column-span: all;
    text-shadow: 2px 2px #00000077;
    font-family: sans-serif, Verdana;
    
  
  
  }
  
  h2{
    column-span: all;
    font-family: sans-serif, Verdana;
    /* text-shadow: 2px 2px #ffffff77; */
    font-size: 5px;
  
    
  
  }
  
  h3{
    column-span: all;
    font-family: sans-serif, Verdana;
    /* text-shadow: 2px 2px #ffffff77; */
    font-style: italic;
    font-size: 12px;
  
  
  
  }
  h4{
    column-span: all;
    font-family: sans-serif, Verdana;
    
  
    /* text-shadow: 2px 2px #ffffff77; */
  
  
  }

  .card_body{
      text-align: center;
  }

  input#header-search{
    margin-top: 4%;
    margin-left: 75%;
    margin-right: 1%;
    padding-left: 10px;
    border: 4px solid rgb(162, 0, 0);

  }

  .search{
    color: rgb(162, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    border: 4px solid rgb(162, 0, 0);
    text-align: center;
    
  }


.search:hover::after {
  transform: translate(0, 0);
  color:azure;
}
.search:hover {
  border: 4px solid rgb(65, 0, 0);
  border-radius: 200px;
  color: #850000;
  transform: scale(1.05);
  will-change: transform;
  background-color: rgb(255, 255, 255);
}

.description{
  text-decoration: none;
  font-size: 20px;
  color:black;
  /* text-transform: ; */
  

}